<div class="main-container">
    <div class="container">
        <div class="page-wrapper clearfix">
            <div class="body-content">
                <div class="col-md-12 centered">
                    <h2>Select files for upload</h2>
                    <div class="row bottom-space">
                        <input type="file" (change)="fileUpload($event)" placeholder="Upload File" accept=".jpg, .png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
