<div class="body-content">              
                    <div class="setting-cont">
                        <h3 class="main-heading">Social Accounts</h3>
                        <h4 class="sub-heading">Link your social accounts</h4>
                        <div class="user-social">
                          <div class="icon-row clearfix">
                            <span class="log-btn btn-fb"><i class="fa fa-facebook"></i></span>
                            <input type="text" class="form-control" placeholder="Enter Facebook Link">
                          </div>
                          <hr>
                          <div class="icon-row clearfix">
                            <span class="log-btn btn-tw"><i class="fa fa-twitter"></i></span>
                            <input type="text" class="form-control" placeholder="Enter Twitter Link">
                          </div>
                          <hr>
                          <div class="icon-row clearfix">
                            <span class="log-btn btn-gplus"><i class="fa fa-google-plus"></i></span>
                            <input type="text" class="form-control" placeholder="Enter Google Plus Link">
                          </div>
                          <hr>
                        </div>
                        <button type="button" class="btn btn-success">Save Changes</button>
                    </div>
                </div>
                <!--/.body-content-->