<div class="body-content">              
                    <div class="setting-cont">
                        <h3 class="main-heading">Email Notifications</h3>
                        <p>
                            <label class="info-check noselect"><input type="checkbox"> <span>Receive Weekend Newsletter <small class="light-txt">(The most popular wallpapers uploaded each week)</small></span></label>
                        </p>
                        <p>
                            <label class="info-check noselect"><input type="checkbox" checked=""> <span>Receive Site Announcements <small class="light-txt">(Usually only one email every 2-3 months)</small></span></label>
                        </p>
                        <h4 class="sub-heading">Send me an email notification when...</h4>
                        <p>
                            <label class="info-check noselect"><input type="checkbox" checked=""> <span>I receive a new private message</span></label>
                        </p>
                        <p>
                            <label class="info-check noselect"><input type="checkbox" checked=""> <span>Someone comments on one of my wallpapers</span></label>
                        </p>
                        <p>
                            <label class="info-check noselect"><input type="checkbox" checked=""> <span>Someone posts a response to one of my journal entries</span></label>
                        </p>
                        <p>
                            <label class="info-check noselect"><input type="checkbox" checked=""> <span>Someone comments on my profile</span></label>
                        </p>
                        <p>
                            <label class="info-check noselect"><input type="checkbox" checked=""> <span>Someone becomes a fan of me</span></label>
                        </p>
                        <p>&nbsp;</p>
                        <button type="button" class="btn btn-success">Save Changes</button>
                        <div class="mascot-spam"></div>
                    </div>
                </div>
                <!--/.body-content-->