<div class="main-container">
        <div class="homepage-banner">
            <div class="banner-graphic imageFit">
                <img src="assets/images/homepage-banner.jpg" alt="">
            </div>
            <div class="banner-overlay"></div>
            <div class="bnr-txt-cont">
                <div class="bnr-table">
                    <div class="bnr-table-cel">
                        <div class="home-search-cont">
                            <div class="input-group">
                              <input class="form-control anim-placeholder" placeholder="Search for wallpapers..." type="text">
                              <span class="input-group-btn">
                                <button class="btn" type="button"><span class="dn-search"></span></button>
                              </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-info">
                <ul class="bnr-info-slide">
                    <li>
                        <div class="list-box">
                            <span class="count">640,129,772</span> assets/images
                        </div>
                    </li>
                    <li>
                        <div class="list-box">
                            <span class="count">1,034,461</span> Members
                        </div>
                    </li>
                    <li>
                        <div class="list-box">
                            <span class="count">5,965,287</span> Likes
                        </div>
                    </li>
                    <li>
                        <div class="list-box">
                            <span class="count">7,129,772</span> Favourites
                        </div>
                    </li>
                    <li>
                        <div class="list-box">
                            <span class="count">50M</span> Following
                        </div>
                    </li>
                </ul>
            </div>
        </div>

   		<div class="home-sec popular-gallery">
        	<div class="container">
                <div class="sec-heading text-center">
                    <h3>Popular Galleries</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet dolor vitae odio blandit scelerisque.</p>
                </div>
                <div class="gal-mesonry">
                    <div class="grid clearfix">
                      <div class="grid-item">
                          <div class="grid-block">
                              <div class="grid-thumb imageFit">
                                  <a href="#">
                                    <img src="assets/images/home-grid-01.jpg" alt="">
                                    <span class="grid-title">Christmas</span>
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="grid-item">
                          <div class="grid-block">
                              <div class="grid-thumb imageFit">
                                  <a href="#">
                                    <img src="assets/images/home-grid-02.jpg" alt="">
                                    <span class="grid-title">Aircraft</span>
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="grid-item grid-item--width2">
                          <div class="grid-block">
                              <div class="grid-thumb imageFit">
                                  <a href="#">
                                    <img src="assets/images/home-grid-03.jpg" alt="">
                                    <span class="grid-title">Anime</span>
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="grid-item grid-item--width2">
                          <div class="grid-block">
                              <div class="grid-thumb imageFit">
                                  <a href="#">
                                    <img src="assets/images/home-grid-04.jpg" alt="">
                                    <span class="grid-title">Motorcycle</span>
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="grid-item">
                          <div class="grid-block">
                              <div class="grid-thumb imageFit">
                                  <a href="#">
                                    <img src="assets/images/home-grid-05.jpg" alt="">
                                    <span class="grid-title">Architecture</span>
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="grid-item">
                          <div class="grid-block">
                              <div class="grid-thumb imageFit">
                                  <a href="#">
                                    <img src="assets/images/home-grid-06.jpg" alt="">
                                    <span class="grid-title">Vintage</span>
                                  </a>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="gal-links">
                    <div class="row">
                        <div class="col-xs-6 col-sm-4 col-lg-2">
                            <ul>
                                <li><a href="#">Abstract</a></li>
                                <li><a href="#">Aircraft</a></li>
                                <li><a href="#">Animals</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-lg-2">
                            <ul>
                                <li><a href="#">Anime</a></li>
                                <li><a href="#">Architecture</a></li>
                                <li><a href="#">Boats</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-lg-2">
                            <ul>
                                <li><a href="#">Cars</a></li>
                                <li><a href="#">Entertainment</a></li>
                                <li><a href="#">Motorcycles</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-lg-2">
                            <ul>
                                <li><a href="#">Nature</a></li>
                                <li><a href="#">People</a></li>
                                <li><a href="#">Space</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-lg-2">
                            <ul>
                                <li><a href="#">Sports</a></li>
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Video Games</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-lg-2">
                            <ul>
                                <li><a href="#">Food</a></li>
                                <li><a href="#">Background Photos</a></li>
                                <li><a href="#">Vintage Photos</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="home-sec recently-shared">
            <div class="container">
                <div class="sec-heading text-center">
                    <h3>Recently Shared</h3>
                    <p>Maecenas vulputate, mi aliquam porttitor rutrum, ligula est laoreet nisi, ac mattis libero ligula sed ligula. Proin arcu est, bibendum a posuere eu, semper in purus.</p>
                </div>
                <div class="recent-pic-blocks">
                    <ul class="clearfix">
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-01.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-02.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-03.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-04.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-05.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-06.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-07.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-08.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-09.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-10.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-11.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-12.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-13.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-14.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-15.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-16.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-17.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-18.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-19.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-01.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-02.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-03.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-04.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-05.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-06.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-07.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-08.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-09.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-10.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-11.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-12.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-13.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-01.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-02.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-03.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-04.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-05.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-06.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-07.jpg" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="pic-thumb imageFit">
                                <a href="#"><img src="assets/images/wallpaper-08.jpg" alt=""></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--/.main-container-->